<h2>Наше мнение важно для вас!</h2>
<p>В свободное от бритья бород время, а его, надо заметить, не так много, мы занимаемся тем, что не бреем бороды. Вместо этого мы стрижем волосы! И стоит заметить - отлично стрежем!
На случай, если вы не поверите нам, ниже мы разместили Большую Кнопку (и мы не шутим, она правда очень большая), нажав которую Вы сможете узнать о нас, но не от нас, а от тех, кого мы стригли. </p>

<a class="btn btn-primary btn-lg" href="http://localhost:4567/ref" role="button">Большая Кнопка</a>



<p>Ну а если Вы заскучали, то мы покажем вам кино! Настоящее, на большом экране!


