<address>
  <strong>Корпорация BarberShop</strong><br>
  1355 Market Street, Suite 900<br>
  San Francisco, CA 94103<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>

<address>
  <strong>e-mail владельца:</strong><br>
  <a href="mailto:#">Vlastelin_zemli@earth.com</a>
</address>


<p>Есть предложения, замечания? Напишите нам! И мы обязательно учтем это в своей работе.</p> 
<p></p>

<form action="/contacts" method="POST" role="form">

<textarea class="form-control" type='text' name= 'user_message'rows="2">Текст Вашего обращения...</textarea>
<button class="btn btn-default" type="submit">Отправить</button>
</form>