
<p><p>"Hello! <a href=\"https://github.com/bootstrap-ruby/sinatra-bootstrap\">Original</a> pattern has been modified for <a href=\"http://rubyschool.us/\">Ruby School</a>"</p>			
<div class="item">
  <img src="images/barber.jpg" alt="правда, здорово?">
  <div class="carousel-caption">
    <h3>...</h3>
    <p>...</p>
  </div>
</div>

