<h1>Зачем нужна регистрация?</h1>
<p> Затем, чтобы после можно было более тесно знакомиться с нашими услугами и иметь возможность самостоятельно выбирать день и время записи, а также любимого специалиста. Это удобно! Попробуйте.</p>



<form>
  <div class="form-group">
  <label for="exampleInputEmail1">Nickname</label>
    <input type="text" name='nick_name' class="form-control" id="exampleInputEmail1" placeholder=" Ваш ник-нейм">
    <label for="exampleInputEmail1">e-mail:</label>
    <input type="text" name='email' class="form-control" id="exampleInputEmail1" placeholder=" Ваш адрес почты">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="text" name='password'class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Принимаю условия предоставления услуг
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>